body {
    background-color: #f9fafc;
  }
  
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    color: #69696a;
}

.two {
    color: #69696a;
}

h1, p {
    color: #000;
}

blockquote {
   border-left: 10px solid #69696a;
}

ul{
  list-style-type:none;
  padding-left: 0;
}

.block {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  background-color:     #000;
  color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 5px;
}